<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.goforlunch">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/go_for_lunch_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuv5PtP5uwugkDW189v9_ycrp8A0nlwkU"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- ////////////////////////////////////////////////////////////////// -->

        <activity android:name=".activities.auth.AuthChooseLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.auth.AuthEnterNameActivity"
            android:parentActivityName=".activities.auth.AuthChooseLoginActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.auth.AuthSignInEmailPasswordActivity"
            android:parentActivityName=".activities.auth.AuthChooseLoginActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.rest.JoinGroupActivity"
            android:parentActivityName=".activities.rest.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.rest.MainActivity"
             />

        <activity android:name=".activities.rest.PersInfoActivity"
            android:parentActivityName=".activities.rest.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.rest.RestaurantActivity"
            android:label="Restaurant Activity"
            android:parentActivityName=".activities.rest.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.rest.SettingsActivity"
            android:label="Settings Activity"
            android:parentActivityName=".activities.rest.MainActivity"
            android:screenOrientation="portrait" />

        <!-- ////////////////////////////////////////////////////////////////// -->

        <service android:name=".network.service.FetchingService" />

        <!-- ////////////////////////////////////////////////////////////////// -->

        <receiver android:name=".receivers.InternetConnectionReceiver"/>

        <!-- ////////////////////////////////////////////////////////////////// -->

        <activity android:name=".activities.rest.FirebaseActivityDELETE"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".data.sqlite.AndroidDatabaseManager"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.rest.FetchingActivityDELETE">

        </activity>

    </application>

</manifest>
















